
/* Подсветка кнопки при нажатии */
.coin-table thead button.active {
    color: var(--yellow);
}

@media (max-width: 767px) {
    .trending-coins__filter-item-reset {
        -webkit-box-ordinal-group: 15;
        -ms-flex-order: 15;
        order: 15;
        /* Разместить её после всех элементов */
    }
}


/* .banner-image {
    width: 100%;     
    height: auto;  
    object-fit: cover;
    max-width: 300px;
    max-height: 200px;
} */