{% extends 'app/base.html' %}
{% load static %}


{% block link %}
  <link rel="stylesheet" href="{% static 'app/css/add-coin/add-coin1.css' %}" />
{% endblock %}


{% block content %}
  <title>
    {% block title %}
      {% if page_title %}
        {{ page_title }}
      {% else %}
        Add Coin
      {% endif %}
    {% endblock %}
  </title>


  <main class="main">
    <section class="section-sidebar section-sidebar_coin">

      <span class="container h1">Add Coin</span>
      <div class="section-sidebar__wrap container">
        <div class="section-sidebar__content">
          <div class="add-coin">
            <div class="add-coin__steps">

              <div class="add-coin__steps-item active">
                <span class="num">
                  1<svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                  </svg>
                </span>
                <span class="label">Coin</span>
              </div>

              <div class="hr active"></div>

              <div class="add-coin__steps-item">
                <span class="num">
                  2<svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                  </svg>
                </span>
                <span class="label">project</span>
              </div>

              <div class="hr"></div>

              <div class="add-coin__steps-item">
                <span class="num">
                  3<svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                  </svg>
                </span>
                <span class="label">Socials</span>
              </div>
            </div>

            <form method="POST" enctype="multipart/form-data" class="form-steps js-form" data-gtm-form-interact-id="0">
              <input type="hidden" name="action" value="add_coin" />

              <div class="form-step active">
                <div class="add-coin__info">
                  <div class="add-coin__title">Coin Info</div>
                  <div class="add-coin__grid">
<!--                    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                    <div class="add-coin__field">
                      <label for="">
                        Name
                        <span>*</span>
                        <span id="check_coin_name"></span>
                      </label>
                      <input
                          type="text"
                          name="post_title"
                          placeholder="e.g. Bitcoin"
                          hx-ext="ws"
                          ws-connect="ws://127.0.0.1:8005/ws/check-coin-name/"
                          ws-send="{'post_title': this.value}"
                      />
                    </div>

                    <div class="add-coin__field">
                      <div class="add-coin__field-image js-add-coin">
                        <div class="add-coin__field">
                          <label for="">Logo Coin<span>*</span></label>
                          <label for="" class="file-input">
                            <input type="file" name="file" id="file" accept="image/*" />
                            <span class="file">
                              <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-upload"></use>
                              </svg>Upload
                            </span>
                          </label>
                        </div>
                        <span>Or</span>
                        <div class="add-coin__field add-coin__field-w">
                          <label for="">Link to logo</label>
                          <input type="text" name="file_url" class="urlcheck" placeholder="e.g. https://ibb.co/123123.jpg" />
                        </div>
                      </div>
                    </div>
                    <div class="add-coin__field">
                      <label for="">Symbol<span>*</span></label>
                      <input type="text" name="meta[code]" placeholder="e.g. BTC" />
                    </div>
                    <div class="add-coin__field">
                      <div class="add-coin__field-image">
                        <div class="add-coin__field add-coin__field-w">
                          <label for="">Launch date<span>*</span></label>
                          <input type="date" min="2015-01-01" name="meta[launch_date]" class="datecheck" placeholder="10/05/2023" />
                        </div>
                        <div class="add-coin__field tba">
                          <label for="" class="radio-check">
                            <input type="checkbox" name="meta[tba]" value="1" id="" />
                            <span class="radio"></span>
                            <span class="text">ТВА</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="add-coin__field">
                      <label for="">Audit companу <span class="opt">(Optional)</span></label>
                      <input type="text" name="meta[audit_companу]" class="ignore" placeholder="Write your audit company" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Recommended sell tax <span class="opt">(Optional)</span></label>
                      <input type="text" name="meta[sell_tax]" class="percentcheck" placeholder="e.g. 12 - 15%" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Audit link <span class="opt">(Optional)</span></label>
                      <input type="text" name="meta[audit_link]" class="urlcheck2" placeholder="e.g. https://..." />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Recommended buy tax <span class="opt">(Optional)</span></label>
                      <input type="text" name="meta[buy_tax]" class="percentcheck" placeholder="e.g. 12 - 15%" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Recommended Slippage <span class="opt">(Optional)</span></label>
                      <input type="text" name="meta[slippage]" class="percentcheck" placeholder="e.g. 10%" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Is your team Doxxed? <span class="opt">(Optional)</span></label>
                      <input type="text" name="meta[doxxed]" class="ignore" placeholder="e.g. Link to the proof / youtube video / sources" />
                    </div>
                  </div>
                </div>

                <div class="add-coin__contacts">
                  <div class="add-coin__title">Contract Addresses</div>
                  <div class="add-coin__grid" data-count="1">
                    <div class="add-coin__field">
                      <label for="">Chain<span>*</span></label>
                      <select name="meta[contract_addresses_chain][0]" data-gtm-form-interact-field-id="1">
                        <option value="">Choose chain</option>
                          {% for cain in cains %}
                            <option value="{{cain.id}}">{{cain.name}}</option>
                          {% endfor %}
                      </select>

                    </div>
                    <div class="add-coin__field">
                      <label for="">Address<span>*</span></label>
                      <input type="text" name="meta[contract_addresses][0]" placeholder="0x0123..." />
                    </div>

                    <button class="add-coin__field-add js-add-coin-address" type="button">
                      <span class="label">
                        <svg class="icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus"></use>
                        </svg>Add next contract adress
                      </span>
                      <p>You can add your next contract adress</p>
                    </button>
                  </div>
                </div>

                <div class="add-coin__presale">
                  <div class="add-coin__title">Presale Information</div>
                  <div class="add-coin__grid">
                    <div class="add-coin__field">
                      <label for="">Do you have presale?<span>*</span></label>
                      <div class="add-coin__field-row">
                        <label for="" class="radio-check">
                          <input type="radio" name="meta[presale]" value="1" id="presale-yes" />
                          <span class="radio"></span>
                          <span class="text">YES</span>
                        </label>
                        <label for="" class="radio-check">
                          <input type="radio" name="meta[presale]" value="0" id="presale-no" checked="" />
                          <span class="radio"></span>
                          <span class="text">NO</span>
                        </label>
                      </div>
                    </div>
                    <div class="mob-hide"></div>
                    <div class="add-coin__field js-presale">
                      <label for="">Softcap <span class="opt">(Optional)</span></label>
                      <input type="text" name="meta[softcap]" class="ignore" placeholder="e.g. 100 BNB" />
                    </div>
                    <div class="add-coin__field js-presale">
                      <label for="">Presale link <span class="opt">(Optional)</span></label>
                      <input type="text" name="meta[presale_link]" class="urlcheck2" placeholder="e.g. https://presale.com/12313123" />
                    </div>
                    <div class="add-coin__field js-presale">
                      <label for="">Hardcap <span class="opt">(Optional)</span></label>
                      <input type="text" name="meta[hardcap]" class="ignore" placeholder="e.g. 500 BNBNB" />
                    </div>
                    <div class="add-coin__field js-presale">
                      <label for="">Presale date <span class="opt">(Optional)</span></label>
                      <input type="date" name="meta[presale_date]" class="datecheck2" placeholder="e.g. 22/05/2022" />
                    </div>
                    <div class="add-coin__field js-presale">
                      <label for="">Do you have whitelist? <span class="opt">(Optional)</span></label>
                      <div class="add-coin__field-row">
                        <label for="" class="radio-check">
                          <input type="radio" name="meta[whitelist]" class="ignore" value="1" id="" />
                          <span class="radio"></span>
                          <span class="text">YES</span>
                        </label>
                        <label for="" class="radio-check">
                          <input type="radio" name="meta[whitelist]" class="ignore" value="0" id="" checked="" />
                          <span class="radio"></span>
                          <span class="text">NO</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="add-coin__action">
                  <button type="button" class="add-coin__next js-next-step">
                    Next Step<svg class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <div class="form-step">
                <div class="add-coin__project-info">
                  <div class="add-coin__title">Project information</div>
                  <div class="add-coin__subtitle">Please tell us MORE about your project. It will bring you additional traffic.</div>
                  <div class="add-coin__grid">
                    <div class="add-coin__field">
                      <label for="">Please introduce your token<span>*</span></label>
                      <textarea type="text" name="meta[desc_0]" placeholder="e.g. Short overall description"></textarea>
                    </div>
                    <div class="add-coin__field">
                      <label for="">What Makes your token unique?<span class="opt">(Optional)</span></label>
                      <textarea type="text" name="meta[desc_1]" class="ignore" placeholder="e.g. What are the advantages of your token"></textarea>
                    </div>
                    <div class="add-coin__field">
                      <label for="">What is utility of your token?<span class="opt">(Optional)</span></label>
                      <textarea type="text" name="meta[desc_2]" class="ignore" placeholder="e.g. BTC"></textarea>
                    </div>
                    <div class="add-coin__field">
                      <label for="">What is your token's plan for the future?<span class="opt">(Optional)</span></label>
                      <textarea type="text" name="meta[desc_3]" class="ignore" placeholder="e.g. BTC"></textarea>
                    </div>
                    <div class="add-coin__field">
                      <label for="">What are your marketing plans and how do you plan to expand in the future?<span class="opt">(Optional)</span></label>
                      <textarea type="text" name="meta[desc_4]" class="ignore" placeholder="e.g. BTC"></textarea>
                    </div>
                    <div class="add-coin__field">
                      <label for="">Where is your team from? How many people are on the team?<span class="opt">(Optional)</span></label>
                      <textarea type="text" name="meta[desc_5]" class="ignore" placeholder="e.g. BTC"></textarea>
                    </div>
                  </div>
                </div>
                <div class="add-coin__action">
                  <button type="button" class="add-coin__prev js-prev-step">
                    <svg class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg>Back to First Step
                  </button>
                  <button type="button" class="add-coin__next js-next-step">
                    Next Step<svg class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg>
                  </button>
                </div>
              </div>

              <div class="form-step">
                <div class="add-coin__socials">
                  <div class="add-coin__title">Socials</div>
                  <div class="add-coin__grid">
                    <div class="add-coin__field">
                      <label for="">Telegram<span>*</span></label>
                      <input class="telegram urlcheck3" name="meta[telegram]" type="text" placeholder="Telegram link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Reddit <span class="opt">(Optional)</span></label>
                      <input class="reddit urlcheck2" name="meta[reddit]" type="text" placeholder="Reddit link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Twitter <span class="opt">(Optional)</span></label>
                      <input class="twitter urlcheck2" name="meta[twitter]" type="text" placeholder="Twitter link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Coin Gecko <span class="opt">(Optional)</span></label>
                      <input class="gecko urlcheck2" name="meta[gecko]" type="text" placeholder="Coin Gecko link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Discord <span class="opt">(Optional)</span></label>
                      <input class="discord urlcheck2" name="meta[discord]" type="text" placeholder="Discord link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Coin Market Cap <span class="opt">(Optional)</span></label>
                      <input class="market urlcheck2" name="meta[market]" type="text" placeholder="Coin Market link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Website <span class="opt">(Optional)</span></label>
                      <input class="website urlcheck2" name="meta[website]" type="text" placeholder="Website link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">GitHub <span class="opt">(Optional)</span></label>
                      <input class="github urlcheck2" name="meta[github]" type="text" placeholder="GitHub link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Youtube <span class="opt">(Optional)</span></label>
                      <input class="youtube urlcheck2" name="meta[youtube]" type="text" placeholder="Youtube link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">TikTok <span class="opt">(Optional)</span></label>
                      <input class="tiktok urlcheck2" name="meta[tiktok]" type="text" placeholder="TikTok link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Medium <span class="opt">(Optional)</span></label>
                      <input class="medium urlcheck2" name="meta[medium]" type="text" placeholder="Medium link" />
                    </div>
                    <div class="add-coin__field">
                      <label for="">Instagram <span class="opt">(Optional)</span></label>
                      <input class="instagram urlcheck2" name="meta[instagram]" type="text" placeholder="Instagram link" />
                    </div>
                  </div>
                </div>

                <div class="add-coin__action">
                  <button type="button" class="add-coin__prev js-prev-step">
                    <svg class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg>Back to Second Step
                    <!-- и -->
                  </button><button type="submit" class="add-coin__next">
                    Finalize<svg class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg>
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>

        <div class="section-sidebar__bar">
          <div class="support-sidebar">
            <div class="title">If you need quick promo help, contact us directly on Telegram:</div>
            <div class="info online">
              <span></span>We are online
            </div>
            <a href="https://t.me/CryptoGuGu_Support" data-wpel-link="external" target="_blank" rel="nofollow noopener">
              <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-telegram"></use>
              </svg>Click Here For Promo
            </a>
          </div>
        </div>
      </div>

    </section>
  </main>
  
  <div class="banner-block coin-success">
    <div class="banner-block__overlay"></div>
    <div class="banner-block__item">
      <div class="banner-block__top">
        <div class="banner-block__title">Successfully!</div>
        <button class="banner-block__item-close">
          <span>
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>

  <script type="module" src="{% static 'app/js/add-coin/add-coin-page.js' %}"></script>
{% endblock %}
