{% load static %}


<section class="reclams-banner">
    <div class="reclams-banner__wrap container">
        {% if top_banners %}
        <div class="reclams-banner__top">
            {% for banner in top_banners %}
                <a href="{{ banner.link }}" class="reclams-banner__item" id="top-{{ banner.position }}" target="_blank">
                    <img src="{{ banner.image.url }}" alt="">
                </a>
            {% endfor %}
        </div>
        {% endif %}

        {% if bottom_banners %}
        <div class="reclams-banner__slider swiper">
            <div class="swiper-wrapper">
                {% for banner in bottom_banners %}
                    <a href="{{ banner.link }}" class="swiper-slide" id="bottom-{{ banner.position }}" target="_blank">
                        <img src="{{ banner.image.url }}" alt="">
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</section>
