{% load static %}


<section class="subscribe">
  <div class="subscribe__wrap container">
    <div class="subscribe__form-wrap">
      <div class="subscribe__form-wrap-container">

        <div class="subscribe__text">
          <span class="h2">Subscribe to our newsletter</span>
          <p>Get the best high potential coins right into your inbox</p>

          <div class="messages" id="subscribe-messages">
            {% if success %}
            <div class="form-success">{{ success }}</div>
            {% elif errors %}
            <div class="error">
              {% for error in errors.values %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>

        </div>

        <!-- Вся форма с динамическими классами и ошибками -->
        <form method="post" action="{% url 'subscribe' %}" class="subscribe__form" hx-post="{% url 'subscribe' %}"
          hx-target="#mail_subscribe" hx-swap="innerHTML" novalidate>
          {% csrf_token %}

          <div class="subscribe__form-top {% if errors.email %}error{% endif %}">
            <svg class="icon">
              <use xlink:href="#icon-mail"></use>
            </svg>
            <input type="email" name="email" value="{{ email }}" placeholder="Your e-mail..." required>

            <button type="submit">Subscribe</button>
          </div>

          <div class="subscribe__form-check {% if errors.agree %}error{% endif %}">
            <label for="agree" class="checkbox">
              <input type="checkbox" name="agree" id="agree" {% if agree %}checked{% endif %} required>
              <span class="check">
                <svg class="icon">
                  <use xlink:href="#icon-check"></use>
                </svg>
              </span>
            </label>
            <p>
              Feel free to unsubscribe anytime. Check our
              <a href="{% url 'terms_and_conditions' %}">Terms of use</a>
              and
              <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
              here.
            </p>

          </div>
        </form>

      </div>
    </div>
  </div>
</section>
