{% extends "app/base.html" %}
{% load static %}


{% block header %}
{{ block.super }} {# Включает содержимое блока header из base.html #}
<nav class="header-nav">
  <div class="header-nav__wrap container">
    <div class="header__list">
      <div class="header__list-item"><a href="{% url 'index' %}" class="header__list-link">Coin Ranking</a></div>
      <div class="header__list-item"><a href="#" class="header__list-link">Promotion</a></div>
      <div class="header__list-item"><a href="#" class="header__list-link">Audit <svg class="arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use>
          </svg></a></div>
      <div class="header__list-item"><a href="#" class="header__list-link">KYC</a></div>
      <div class="header__list-item"><a href="#" class="header__list-link">Jobs</a></div>
      <div class="header__list-item"><a href="#" class="header__list-link">Memes</a></div>
      <div class="header__list-item">
        <a href="#" class="header__list-link">Crypto Casino
          <svg class="arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use>
          </svg>
          <svg class="polygon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sublist-polygon"></use>
          </svg>
        </a>
        <div class="header__sub-menu">
          <div class="header__sub-menu-left">
            <a href="#" class="header__sub-menu-left-link" data-menu="by-country"><span>By country</span> <svg
                class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
              </svg></a>
            <a href="#" class="header__sub-menu-left-link" data-menu="by-currency"><span>By currency</span> <svg
                class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
              </svg></a>
            <a href="#" class="header__sub-menu-left-link" data-menu="by-games"><span>By games</span> <svg
                class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
              </svg></a>
            <a href="#" class="header__sub-menu-left-link" data-menu="reviews"><span>Reviews</span> <svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
              </svg></a>
            <a href="#" class="header__sub-menu-left-link" data-menu="bonuses"><span>Bonuses</span> <svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
              </svg></a>
            <a href="#" class="header__sub-menu-left-link" data-menu="guides"><span>Guides</span> <svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
              </svg></a>
          </div>

          <div class="header__sub-menu-right">
            <div data-sub-menu="by-country" class="header__sub-menu-right-content" id="by-country">
              <ul class="header__sub-menu-right-list">
                <li><a href="#">Australia</a></li>
                <li><a href="#">China</a></li>
                <li><a href="#">Canada</a></li>
                <li><a href="#">Great Britain</a></li>
                <li><a href="#">New Zealand</a></li>
                <li><a href="#">USA</a></li>
                <li><a href="#">Casino</a></li>
                <li><a href="#">Cambodia</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">Georgia</a></li>
                <li><a href="#">US</a></li>
                <li><a href="#">Great Britain</a></li>
                <li><a href="#">Zambia</a></li>
                <li><a href="#">Japan</a></li>
                <li><a href="#">Germany</a></li>
                <li class="all"><a href="#">All Countries (120)</a></li>
              </ul>
            </div>


            <div data-sub-menu="by-currency" class="header__sub-menu-right-content" id="by-currency">
              <ul class="header__sub-menu-right-list">
                <li><a href="#">Bitcoin</a></li>
                <li><a href="#">Ethereum</a></li>
                <li><a href="#">BSC casino</a></li>
                <li><a href="#">Tether casino</a></li>
                <li><a href="#">Cardano casino</a></li>
                <li><a href="#">Ripple casino</a></li>
                <li><a href="#">Dogecoin casino</a></li>
                <li><a href="#">Litecoin casino</a></li>
                <li><a href="#">Bitcoin cash casino</a></li>
                <li><a href="#">Tron casino</a></li>
                <li><a href="#">Monero casino</a></li>
                <li><a href="#">Eos casino</a></li>
                <li><a href="#">Zcash casino</a></li>
                <li><a href="#">Dash casino</a></li>
                <li><a href="#">Altcoin casino</a></li>
                <li><a href="#">Solana casino</a></li>
                <li><a href="#">USD Coin casino</a></li>
                <li><a href="#">Shiba inu casino </a></li>
                <li><a href="#">Avalanche casino</a></li>
                <li><a href="#">Polkadot casino</a></li>
                <li><a href="#">Binance USD casino</a></li>
                <li><a href="#">Polygon casino</a></li>
              </ul>
            </div>

            <div data-sub-menu="by-games" class="header__sub-menu-right-content" id="by-games">
              <div class="header__sub-menu-right-content-by-games">
                <div class="header__sub-menu-by-games">
                  <a href="#" data-menu="Crash" class="header__sub-menu-by-games-link"><span>Crash</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Plinko" class="header__sub-menu-by-games-link"><span>Plinko</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Jackpots" class="header__sub-menu-by-games-link"><span>Jackpots</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Keno" class="header__sub-menu-by-games-link"><span>Keno</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Poker" class="header__sub-menu-by-games-link"><span>Poker</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Slots" class="header__sub-menu-by-games-link"><span>Slots</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Blackjack" class="header__sub-menu-by-games-link"><span>Blackjack</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Lottery" class="header__sub-menu-by-games-link"><span>Lottery</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Dice" class="header__sub-menu-by-games-link"><span>Dice</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Roulette" class="header__sub-menu-by-games-link"><span>Roulette</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Bingo" class="header__sub-menu-by-games-link"><span>Bingo</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Baccarat" class="header__sub-menu-by-games-link"><span>Baccarat</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Live-Dealer" class="header__sub-menu-by-games-link"><span>Live Dealer</span>
                    <svg class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                  <a href="#" data-menu="Teen-Patti" class="header__sub-menu-by-games-link"><span>Teen Patti</span> <svg
                      class="arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg></a>
                </div>


                <div class="header__sub-menu-by-games-right" id="Crash">
                  <ul class="header__sub-menu-right-list">
                    <li><a href="#">Bitcoin poker</a></li>
                    <li><a href="#">Ethereum poker</a></li>
                  </ul>
                </div>

              </div>

            </div>

            <div data-sub-menu="reviews" class="header__sub-menu-right-content" id="reviews">
              <ul class="header__sub-menu-right-list">
                <li><a href="#">BC.Game Casino</a></li>
                <li><a href="#">Stake Casino</a></li>
                <li><a href="#">Cloudbet</a></li>
                <li><a href="#">Rocketpot</a></li>
                <li><a href="#">Bets.io</a></li>
                <li><a href="#">Bitsler</a></li>
                <li><a href="#">Crashino</a></li>
                <li><a href="#">JustBit</a></li>
                <li><a href="#">Metaspins</a></li>
                <li><a href="#">True Flip</a></li>
                <li><a href="#">Bitcoin.com games</a></li>
                <li><a href="#">BitStarz</a></li>
                <li><a href="#">King Billy</a></li>
                <li><a href="#">mBit</a></li>
                <li><a href="#">Rollbit</a></li>
                <li><a href="#">EarnBet</a></li>
                <li><a href="#">Thunderpick</a></li>
                <li><a href="#">Bodog</a></li>
                <li><a href="#">Bao Casino</a></li>
                <li><a href="#">Fortune Jack</a></li>
                <li><a href="#">Primedice</a></li>
                <li><a href="#">Betfury</a></li>
                <li><a href="#">DuckDice</a></li>
                <li><a href="#">Roobet</a></li>
                <li><a href="#">Bitcasino</a></li>
                <li><a href="#">BitcoinCasino.io</a></li>
                <li><a href="#">1xSlots</a></li>
                <li><a href="#">7Bit Casino</a></li>
                <li><a href="#">Wink</a></li>
                <li><a href="#">CryptoWild</a></li>
                <li><a href="#">ZetCasino</a></li>
                <li><a href="#">Crypto Games</a></li>
                <li><a href="#">Betcoin</a></li>
                <li><a href="#">1xBit</a></li>
                <li><a href="#">Bspin Casino</a></li>
                <li><a href="#">Nitrogen Sports</a></li>
                <li><a href="#">Crypto Thrills</a></li>
                <li><a href="#">Edgeless Casino</a></li>
                <li class="all"><a href="#">All reviews (80)</a></li>
              </ul>
            </div>

            <div data-sub-menu="bonuses" class="header__sub-menu-right-content" id="bonuses">
              <ul class="header__sub-menu-right-list">
                <li><a href="#">No deposit bonus</a></li>
                <li><a href="#">Welcome bonus</a></li>
                <li><a href="#">Faucet bonus</a></li>
                <li><a href="#">Free spins</a></li>
                <li><a href="#">Deposit bonus</a></li>
                <li><a href="#">Wager free bonuses</a></li>
                <li><a href="#">Promo codes</a></li>
              </ul>
            </div>


            <div data-sub-menu="guides" class="header__sub-menu-right-content" id="guides">
              <div class="header__sub-menu-right-list-guides">
                <a href="#" class="header__guides-item">
                  <img src="{% static 'app/img/article.jpg' %}" alt="" class="header__guides-item-image">
                  <span>Formula 1 Betting with Bitcoin: Ultimate Guide</span>
                </a>
                <a href="#" class="header__guides-item">
                  <img src="{% static 'app/img/article.jpg' %}" alt="" class="header__guides-item-image">
                  <span>Formula 1 Betting with Bitcoin: Ultimate Guide</span>
                </a>
                <a href="#" class="header__guides-item">
                  <img src="{% static 'app/img/article.jpg' %}" alt="" class="header__guides-item-image">
                  <span>Formula 1 Betting with Bitcoin: Ultimate Guide</span>
                </a>
                <a href="#" class="header__guides-item">
                  <img src="{% static 'app/img/article.jpg' %}" alt="" class="header__guides-item-image">
                  <span>Formula 1 Betting with Bitcoin: Ultimate Guide</span>
                </a>
                <a href="#" class="header__guides-item">
                  <img src="{% static 'app/img/article.jpg' %}" alt="" class="header__guides-item-image">
                  <span>Formula 1 Betting with Bitcoin: Ultimate Guide</span>
                </a>
                <a href="#" class="header__guides-item">
                  <img src="{% static 'app/img/article.jpg' %}" alt="" class="header__guides-item-image">
                  <span>Formula 1 Betting with Bitcoin: Ultimate Guide</span>
                </a>
                <a href="#" class="header__guides-item">
                  <img src="{% static 'app/img/article.jpg' %}" alt="" class="header__guides-item-image">
                  <span>Formula 1 Betting with Bitcoin: Ultimate Guide</span>
                </a>
                <a href="#" class="header__guides-item">
                  <img src="{% static 'app/img/article.jpg' %}" alt="" class="header__guides-item-image">
                  <span>Formula 1 Betting with Bitcoin: Ultimate Guide</span>
                </a>
                <a href="#" class="header__guides-item">
                  <img src="{% static 'app/img/article.jpg' %}" alt="" class="header__guides-item-image">
                  <span>Formula 1 Betting with Bitcoin: Ultimate Guide</span>
                </a>
                <a href="#" class="header__guides-item">
                  <img src="{% static 'app/img/article.jpg' %}" alt="" class="header__guides-item-image">
                  <span>Formula 1 Betting with Bitcoin: Ultimate Guide</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__list-item"><a href="#" class="header__list-link">Coinmooner Token</a></div>
      <div class="header__list-item"><a href="#" class="header__list-link">Tools <svg class="arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use>
          </svg></a></div>
      <div class="header__list-item header__list-item_sub-small">
        <a href="#" class="header__list-link">ICO
          <svg class="arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use>
          </svg>
          <svg class="polygon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sublist-polygon"></use>
          </svg>
        </a>

        <div class="header__sub-menu header__sub-menu_little">
          <ul class="header__sub-menu-right-list">
            <li><a href="#">Upcoming ICO</a></li>
            <li><a href="#">Ended ICO</a></li>
            <li><a href="#">Active ICO</a></li>
          </ul>
        </div>
      </div>
      <div class="header__list-item"><a href="#" class="header__list-link">Airdrops</a></div>
      <div class="header__list-item">
        <a href="#" class="header__list-link">Blog
          <svg class="arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use>
          </svg>
          <svg class="polygon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sublist-polygon"></use>
          </svg>
        </a>
        <div class="header__sub-menu header__sub-menu_small">
          <div class="header__sub-menu-left">
            <a href="#" class="header__sub-menu-left-link" data-menu="Fees"><span>Fees</span> <svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
              </svg></a>
            <a href="#" class="header__sub-menu-left-link" data-menu=""><span>Exchange Reviews</span></a>
            <a href="#" class="header__sub-menu-left-link" data-menu="Guides"><span>Guides</span> <svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
              </svg></a>
            <a href="#" class="header__sub-menu-left-link" data-menu=""><span>Trending Robots</span></a>
          </div>

          <div class="header__sub-menu-right">
            <div data-sub-menu="Guides" class="header__sub-menu-right-content" id="Guides">
              <ul class="header__sub-menu-right-list">
                <li><a href="#">Wallets</a></li>
                <li><a href="#">Mining</a></li>
                <li><a href="#">Coins</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header__list-item"><a href="#" class="header__list-link">Crypto Brokers <svg class="arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-bottom"></use>
          </svg></a></div>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}

<title>
  {% block title %}

  {% if page_title %} {{ page_title }} {% else %} Add Coin3 {% endif %}

  {% endblock %}
</title>


<!-- -------------------------------------- -->
<main class="main">

  <section class="section-sidebar section-sidebar_coin">
    <span class="container h1">Add Coin</span>
    <div class="section-sidebar__wrap container">
      <div class="section-sidebar__content">
        <div class="add-coin">
          <div class="add-coin__steps">
            <div class="add-coin__steps-item done">
              <span class="num">1 <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg></span>
              <span class="label">Coin</span>
            </div>

            <div class="hr active"></div>

            <div class="add-coin__steps-item done">
              <span class="num">2 <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg></span>
              <span class="label">project</span>
            </div>

            <div class="hr active"></div>

            <div class="add-coin__steps-item active">
              <span class="num">3 <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg></span>
              <span class="label">Socials</span>
            </div>
          </div>

          <div class="add-coin__socials">
            <div class="add-coin__title">Socials</div>
            <div class="add-coin__grid">
              <div class="add-coin__field">
                <label for="">Telegram<span>*</span></label>
                <input class="telegram" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">Reddit <span class="opt">(Optional)</span></label>
                <input class="reddit" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">Twitter <span class="opt">(Optional)</span></label>
                <input class="twitter" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">Coin Gecko <span class="opt">(Optional)</span></label>
                <input class="gecko" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">Discord <span class="opt">(Optional)</span></label>
                <input class="discord" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">Coin Market Cap <span class="opt">(Optional)</span></label>
                <input class="market" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">Website <span class="opt">(Optional)</span></label>
                <input class="website" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">GitHub <span class="opt">(Optional)</span></label>
                <input class="github" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">Youtube <span class="opt">(Optional)</span></label>
                <input class="youtube" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">TikTok <span class="opt">(Optional)</span></label>
                <input class="tiktok" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">Medium <span class="opt">(Optional)</span></label>
                <input class="medium" type="text" placeholder="Name Chanel">
              </div>
              <div class="add-coin__field">
                <label for="">Instagram <span class="opt">(Optional)</span></label>
                <input class="instagram" type="text" placeholder="Name Chanel">
              </div>
            </div>

            <div class="add-coin__label">Add More Socials</div>
            <div class="add-coin__more-soc">
              <button><img src="{% static 'app/img/youtube.svg' %}" alt="">Youtube</button>
              <button><img src="{% static 'app/img/tiktok.svg' %}" alt="">TikTok</button>
              <button><img src="{% static 'app/img/medium.svg' %}" alt="">Medium</button>
              <button><img src="{% static 'app/img/instagram.svg' %}" alt="">Instagram</button>
            </div>
          </div>


          <div class="add-coin__action">
            <a href="{% url 'add_coin2' %}" class="add-coin__prev"><svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
              </svg> Back to Second Step</a>
            <button class="add-coin__next">Finalize <svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
              </svg></button>
          </div>
        </div>
      </div>


      <div class="section-sidebar__bar">
        <div class="support-sidebar">
          <div class="title">If you need quick promo help, contact us directly on Telegram:</div>
          <div class="info online"><span></span>We are online</div>
          <a href="#">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-telegram"></use>
            </svg>
            Click Here For Promo
          </a>
        </div>
      </div>
    </div>
  </section>

</main>
<!-- -------------------------------------- -->
 

<script>
  document.querySelectorAll('.article-contents__list a').forEach(item => {

  });


  document.querySelectorAll('a[href^="#"].article-contents__list-link').forEach(link => {
    link.addEventListener('click', function (e) {
      e.preventDefault();
      let href = this.getAttribute('href');
      const scrollTarget = document.querySelector(href);
      // const topOffset = scrollTarget.offsetHeight;
      const topOffset = 0;
      const elementPosition = scrollTarget.getBoundingClientRect().top;
      const offsetPosition = elementPosition - topOffset;

      window.scrollBy({
        top: offsetPosition - 40,
        behavior: 'smooth'
      });
    });
  });

  items = document.querySelectorAll('.article-content [data-id]');

  window.addEventListener('scroll', () => {
    let scrollDistance = window.scrollY;
    items.forEach((el, i) => {
      if (el.offsetTop - 50 <= scrollDistance) {
        document.querySelectorAll('.article-contents__list-link').forEach((el) => {
          if (el.parentElement.classList.contains('active')) {
            el.parentElement.classList.remove('active');
          }
        });
        try {
          document.querySelectorAll('.article-contents__list-link').forEach(item => {
            if (el.getAttribute('id') == item.getAttribute('href').substring(1)) {
              item.parentElement.classList.add('active')
            }
          });
        } catch (error) {
        };
      }
    });
  });
</script>


{% endblock %}
