{% extends "app/base.html" %}
{% load static %}


{% block content %}

<title>
  {% block title %}

  {% if page_title %} {{ page_title }} {% else %} Careers Page {% endif %}

  {% endblock %}
</title>


<main class="main">

  <div class="careers">
    <div class="careers__hero">
      <div class="careers__hero-wrap container">
        <div class="careers__hero-text">
          <div class="label">10+ open positions</div>
          <span class="h1">Build Your career together with CoinMooner</span>
          <p>Join our quest to increase the Freedom of Money</p>
          <div class="careers__hero-text-actions">
            <a href="#" class="accent-link">Open Positions</a>
            <a href="#" class="stroke-link">How We Hire</a>
          </div>
        </div>

        <div class="careers__hero-image">
          <img src="{% static 'app/img/careers.svg' %}" alt="">
        </div>
      </div>
    </div>

    <div class="careers__values">
      <div class="careers__values-wrap container">
        <span class="h2">CoinMooner Values</span>
        <p>CoinMooner Core Values guide our behavior, decisions, and action, enabling unified collaboration across our
          diverse, international teams.</p>

        <div class="careers__values-grid">
          <div class="careers__values-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-user-focused"></use>
            </svg>
            <div class="title">User-Focused</div>
            <p>We protect our users by putting our users' needs first and delivering quality service.</p>
          </div>
          <div class="careers__values-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-collaboration"></use>
            </svg>
            <div class="title">Collaboration</div>
            <p>We communicate openly. We work as a team towards shared goals to build the ecosystem together.</p>
          </div>
          <div class="careers__values-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-hardcore"></use>
            </svg>
            <div class="title">Hardcore</div>
            <p>We are results driven. We get things done. We are passionate and work hard. When we fail, we learn fast,
              and pick ourselves up.</p>
          </div>
          <div class="careers__values-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-freedom"></use>
            </svg>
            <div class="title">Freedom</div>
            <p>We execute responsibly and autonomously. We empower those around us. Our team is diverse and we challenge
              the status quo.</p>
          </div>
          <div class="careers__values-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-humility"></use>
            </svg>
            <div class="title">Humility</div>
            <p>We accept critical feedback.We treat everyone as equals.We are modest about our success.</p>
          </div>
          <div class="careers__values-item promo">
            <div class="title">Do you want to be part of our team? It's simple!</div>
            <a href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="careers__jobs">
      <div class="careers__jobs-wrap container">
        <span class="h2">Choose Your Jobs</span>
        <p>Select a job most relevant to your interests and experience to view.</p>

        <div class="careers__jobs-list">
          <div class="careers__jobs-item">
            <div class="careers__jobs-item-top">
              <div class="title">Senior Java Engineer / 3+ years exp.</div>
              <div class="tags">
                <div class="tag green">Full Remote</div>
                <div class="tag yellow">Part-time</div>
              </div>

              <div class="plus">
                <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus"></use>
                </svg>
              </div>
            </div>

            <div class="careers__jobs-item-content">
              <div class="careers__jobs-item-content-wrap">
                <div class="careers__jobs-item-grid">
                  <div class="careers__jobs-item-block">
                    <div class="label">Experience:</div>
                    <div class="value">2 years +</div>
                  </div>
                  <div class="careers__jobs-item-block">
                    <div class="label">Language:</div>
                    <div class="value">English (fluent)</div>
                  </div>
                  <div class="careers__jobs-item-block">
                    <div class="label">Department:</div>
                    <div class="value">Engineering</div>
                  </div>
                </div>

                <div class="careers__jobs-item-text">
                  <div class="label mb24">Company Description</div>

                  <div class="title">Powering crypto with data</div>
                  <p>CoinMarketCap is the world’s most trusted and accurate source of data for cryptocurrencies. Used by
                    millions of individuals, organizations, and exchanges, CoinMarketCap brings the most up-to-date
                    market capitalizations, pricing, and cryptocurrency information to our users.</p>
                  <p>Pulling data from multiple exchanges and combining our robust research allows us to provide the
                    most realistic representation of each cryptocurrency. As we grow, we will continue to provide access
                    to our data wherever, whenever, and however is most helpful to our users.</p>

                  <div class="title">Creating an open world</div>

                  <p>Our mission is to be the world’s authority on cryptocurrency data. We believe in an open and
                    decentralized world, where we play a pivotal role in powering decisions and insights to drive
                    greater understanding and adoption of cryptocurrencies. We want to achieve this mission with people
                    who truly believe in the value and potential of empowering individuals.</p>

                  <div class="label mt40">Job Description</div>

                  <ul>
                    <li>Implement new user-facing features in products that have a huge amount of PV every day</li>
                    <li>Write client-side code to create super-fast, easy-to-use, web-based applications which include
                      websites for both desktop and mobile browsers, and hybrid in-app pages</li>
                    <li>Optimize web applications to maximize speed and scale</li>
                    <li>Build libraries and frameworks that support complex web applications, speed up development
                      efficiency and improve code quality</li>
                    <li>Contribute creativity and insight to solve both technical and business challenges</li>
                    <li>Research and promote new technologies and best practices within the team</li>
                  </ul>

                  <div class="label mt40">Qualifications</div>

                  <ul>
                    <li>8+ years experience developing production software</li>
                    <li>Advanced hands on knowledge of TypeScript + React</li>
                    <li>Experience with modern web technologies such as Webpack, Next.js, Redux, styled components, or
                      similar</li>
                    <li>Proven track record of delivering well-tested, high-quality, maintainable projects.</li>
                    <li>Great cross-team communication skills</li>
                    <li>Self-managed, proactive work style. Ability to perform at a high level in a fast paced
                      environment</li>
                    <li>Blockchain-related industry experience as a plus</li>
                    <li>Basic or Fluent English level</li>
                  </ul>

                  <a href="#" class="apply">Apply for this role</a>
                </div>
              </div>
            </div>
          </div>
          <div class="careers__jobs-item open">
            <div class="careers__jobs-item-top">
              <div class="title">Digital Content Editor</div>
              <div class="tags">
                <div class="tag green">Full Remote</div>
                <div class="tag yellow">Part-time</div>
              </div>

              <div class="plus">
                <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus"></use>
                </svg>
              </div>
            </div>

            <div class="careers__jobs-item-content">
              <div class="careers__jobs-item-content-wrap">
                <div class="careers__jobs-item-grid">
                  <div class="careers__jobs-item-block">
                    <div class="label">Experience:</div>
                    <div class="value">2 years +</div>
                  </div>
                  <div class="careers__jobs-item-block">
                    <div class="label">Language:</div>
                    <div class="value">English (fluent)</div>
                  </div>
                  <div class="careers__jobs-item-block">
                    <div class="label">Department:</div>
                    <div class="value">Engineering</div>
                  </div>
                </div>

                <div class="careers__jobs-item-text">
                  <div class="label mb24">Company Description</div>

                  <div class="title">Powering crypto with data</div>
                  <p>CoinMarketCap is the world’s most trusted and accurate source of data for cryptocurrencies. Used by
                    millions of individuals, organizations, and exchanges, CoinMarketCap brings the most up-to-date
                    market capitalizations, pricing, and cryptocurrency information to our users.</p>
                  <p>Pulling data from multiple exchanges and combining our robust research allows us to provide the
                    most realistic representation of each cryptocurrency. As we grow, we will continue to provide access
                    to our data wherever, whenever, and however is most helpful to our users.</p>

                  <div class="title">Creating an open world</div>

                  <p>Our mission is to be the world’s authority on cryptocurrency data. We believe in an open and
                    decentralized world, where we play a pivotal role in powering decisions and insights to drive
                    greater understanding and adoption of cryptocurrencies. We want to achieve this mission with people
                    who truly believe in the value and potential of empowering individuals.</p>

                  <div class="label mt40">Job Description</div>

                  <ul>
                    <li>Implement new user-facing features in products that have a huge amount of PV every day</li>
                    <li>Write client-side code to create super-fast, easy-to-use, web-based applications which include
                      websites for both desktop and mobile browsers, and hybrid in-app pages</li>
                    <li>Optimize web applications to maximize speed and scale</li>
                    <li>Build libraries and frameworks that support complex web applications, speed up development
                      efficiency and improve code quality</li>
                    <li>Contribute creativity and insight to solve both technical and business challenges</li>
                    <li>Research and promote new technologies and best practices within the team</li>
                  </ul>

                  <div class="label mt40">Qualifications</div>

                  <ul>
                    <li>8+ years experience developing production software</li>
                    <li>Advanced hands on knowledge of TypeScript + React</li>
                    <li>Experience with modern web technologies such as Webpack, Next.js, Redux, styled components, or
                      similar</li>
                    <li>Proven track record of delivering well-tested, high-quality, maintainable projects.</li>
                    <li>Great cross-team communication skills</li>
                    <li>Self-managed, proactive work style. Ability to perform at a high level in a fast paced
                      environment</li>
                    <li>Blockchain-related industry experience as a plus</li>
                    <li>Basic or Fluent English level</li>
                  </ul>

                  <a href="#" class="apply">Apply for this role</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="careers__why">
      <div class="careers__why-wrap container">
        <div class="careers__why-left">
          <div>
            <span class="h2">Why it's worth
              working with us</span>
            <p>We are proud to offer competitive benefits that enable healthy and fulfilling careers at CoinMooner</p>
          </div>


          <a href="#">Contact Us</a>
        </div>
        <div class="careers__why-list">
          <div class="careers__why-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star2"></use>
            </svg>
            <p>Learning and development programs & Free language classes</p>
          </div>
          <div class="careers__why-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star2"></use>
            </svg>
            <p>Relocation support & International transfers mid-career</p>
          </div>
          <div class="careers__why-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star2"></use>
            </svg>
            <p>Competitive salary and Option to be paid in crypto</p>
          </div>
          <div class="careers__why-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star2"></use>
            </svg>
            <p>Health insurance & Flexible working hours</p>
          </div>
          <div class="careers__why-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star2"></use>
            </svg>
            <p>Team building activities & other various perks and benefits</p>
          </div>
          <div class="careers__why-item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star2"></use>
            </svg>
            <p>Remote work for many roles & Company sponsored holidays</p>
          </div>
        </div>
      </div>
    </div>


    <div class="careers__how">
      <div class="careers__how-wrap container">
        <div class="careers__how-top">
          <span class="h2">How We Hire</span>
          <div class="info">
            <div class="num">2~4</div>
            <p>week on average interview process with 4 interviews.</p>
          </div>
        </div>

        <div class="careers__how-road">
          <div class="careers__how-road-item">
            <div class="num">1</div>
            <div class="title">Application <br>
              Review</div>
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-road"></use>
            </svg>
          </div>
          <div class="careers__how-road-item">
            <div class="num">2</div>
            <div class="title">Interviews</div>
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-road"></use>
            </svg>
          </div>
          <div class="careers__how-road-item">
            <div class="num">3</div>
            <div class="title">We make an <br>
              offer</div>
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-road"></use>
            </svg>
          </div>
          <div class="careers__how-road-item">
            <div class="num">4</div>
            <div class="title">Onboarding</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>


<script>
  document.querySelectorAll('.careers__jobs-item').forEach(item => {
    item.addEventListener('click', (e) => {
      if (event.target.closest('.careers__jobs-item-top')) {
        item.classList.toggle('open');
      }
    })
  })
</script>


{% endblock %}
