{% extends "app/base.html" %}
{% load static %}


{% block content %}

<title>
  {% block title %}

  {% if page_title %} {{ page_title }} {% else %} Contact Page {% endif %}

  {% endblock %}
</title>


<main class="main">

  <section class="contact-us">
    <div class="contact-us__wrap container">
      <span class="h1">Contact Us</span>
      <p>If you need to contact us - do it by writing to any convenient for you messenger, or fill out the feedback
        form.</p>

      <div class="contact-us__block">
        <div class="contact-us__left">
          <div class="contact-us__links">
            <a href="#" class="contact-us__links-item">
              <div class="title"><svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-telegram"></use>
                </svg>Telegram</div>
              <div class="label">@CoinMoonerPromo</div>
            </a>
            <a href="#" class="contact-us__links-item">
              <div class="title"><svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use>
                </svg>E-mail</div>
              <div class="label">cooinmooner@info.com</div>
            </a>
          </div>

          <div class="contact-us__info">
            <div class="contact-us__follow">
              <div class="title">Follow Us</div>
              <div class="links">
                <a href="#" class="twitter"><svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                  </svg></a>
                <a href="#" class="discord"><svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-discord"></use>
                  </svg></a>
                <a href="#" class="youtube"><svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-youtube"></use>
                  </svg></a>
                <a href="#" class="tiktok"><svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tiktok"></use>
                  </svg></a>
                <a href="#" class="github"><svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
                  </svg></a>
                <a href="#" class="linktree"><svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linktree"></use>
                  </svg></a>
              </div>
            </div>

            <div class="contact-us__quick">
              <div class="title">If you need quick promo help, contact us directly on telegram:</div>
              <div class="online">We are online</div>
              <a href="#" class="support"><svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-telegram"></use>
                </svg>Click Here For Promo</a>
            </div>
          </div>
        </div>

        <form class="contact-us__form">
          <div class="title">Fill out the form</div>
          <div class="contact-us__form-grid">
            <input type="text" class="small user" placeholder="First Name">
            <input type="text" class="small user" placeholder="Last Name">
            <input type="text" class="mail" placeholder="Your e-mail...">
            <input type="text" class="question" placeholder="Listing Questions">
            <textarea name="" id="" class="message" placeholder="Your Message"></textarea>
          </div>

          <div class="subscribe__form-check">
            <label for="" class="checkbox">
              <input type="checkbox">
              <span class="check"><svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg></span>
            </label>
            <p>I agree with our <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a> here.</p>
          </div>

          <button class="accent-link">Send Request</button>
        </form>
      </div>
    </div>
  </section>

</main>


{% endblock %}
