{% extends "app/base.html" %}
{% load static %}


{% block content %}

<title>
  {% block title %}

  {% if page_title %} {{ page_title }} {% else %} Promoted Page {% endif %}

  {% endblock %}
</title>


<main class="main">

  <section class="promote">

    <div class="promote__menu">
      <div class="promote__menu-list container">
        <div class="promote__menu-item">
          <a href="#" class="active">Statistics</a>
        </div>
        <div class="promote__menu-item">
          <a href="#">Promoted coin</a>
        </div>
        <div class="promote__menu-item">
          <a href="#">Banners</a>
        </div>
        <div class="promote__menu-item">
          <a href="#">Popups</a>
        </div>
        <div class="promote__menu-item">
          <a href="#">KYC & Audit</a>
        </div>
        <div class="promote__menu-item">
          <a href="#">Pricing</a>
        </div>
        <div class="promote__menu-item">
          <a href="#">Contact Us</a>
        </div>
      </div>
    </div>

    <section class="promote-hero">
      <div class="promote-hero__wrap container">
        <span class="h1">Reach your crypto audience with CoinMooner Ads </span>
        <p>Expose your project to millions of cryptocurrency enthusiasts and investors. We have the best price
          performance ratio.</p>
        <div class="promote-hero__grid">
          <div class="promote-hero__item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-today"></use>
            </svg>
            <p>Daily / 30k visitors</p>
          </div>
          <div class="promote-hero__item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-humans"></use>
            </svg>
            <p>Monthly / 200k+ visitors </p>
          </div>
          <div class="promote-hero__item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mails"></use>
            </svg>
            <p>Subscribers Email <br>
              base 100k</p>
          </div>
          <div class="promote-hero__item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-treidUp"></use>
            </svg>
            <p>Best price / ROI ratio</p>
          </div>
          <div class="promote-hero__item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-contatcSupport"></use>
            </svg>
            <p>24/7 Support assistance </p>
          </div>
        </div>
      </div>
    </section>

    <section class="promote-stats">
      <div class="promote-stats__wrap container">
        <div class="promote-stats__nav">
          <span class="h2">Statistic Data</span>

          <div class="promote-stats__buttons">
            <button class="promote-stats__swiper-button promote-stats__swiper-button_prev"><svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowLeft"></use>
              </svg></button>
            <button class="promote-stats__swiper-button promote-stats__swiper-button_next"><svg class="arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowRight"></use>
              </svg></button>
          </div>
        </div>

        <div class="promote-stats__swiper swiper">
          <div class="swiper-wrapper">
            <div class="promote-stats__item swiper-slide">
              <div class="num">1</div>
              <div class="title">Daily Statistics</div>
              <p>A brief description of this statistic to emphasize its value to advertisers.</p>
              <img src="{% static 'app/img/stats1.png' %}" alt="">
            </div>
            <div class="promote-stats__item swiper-slide">
              <div class="num">2</div>
              <div class="title">Weekly Statistics</div>
              <p>A brief description of this statistic to emphasize its value to advertisers.</p>
              <img src="{% static 'app/img/stats2.png' %}" alt="">
            </div>
            <div class="promote-stats__item swiper-slide">
              <div class="num">3</div>
              <div class="title">Monthly Statistics</div>
              <p>A brief description of this statistic to emphasize its value to advertisers.</p>
              <img src="{% static 'app/img/stats3.png' %}" alt="">
            </div>
            <div class="promote-stats__item swiper-slide">
              <div class="num">4</div>
              <div class="title">Weekly Statistics</div>
              <p>A brief description of this statistic to emphasize its value to advertisers.</p>
              <img src="{% static 'app/img/stats1.png' %}" alt="">
            </div>
            <div class="promote-stats__item swiper-slide">
              <div class="num">5</div>
              <div class="title">Monthly Statistics</div>
              <p>A brief description of this statistic to emphasize its value to advertisers.</p>
              <img src="{% static 'app/img/stats2.png' %}" alt="">
            </div>
          </div>

          <div class="promote-stats__swiper-pagination"></div>
        </div>
      </div>
    </section>

    <section class="promore-top">
      <div class="promore-top__wrap container">
        <span class="h2">Be on Top of the competition</span>
        <div class="promore-top__top">
          <div class="title">
            <span>Promoted Coin Section</span>
          </div>
          <a href="#" class="link">View pricing <svg class="arrow">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowRight"></use>
            </svg></a>
        </div>

        <div class="promore-top__grid">
          <div class="promore-top__item">
            <div class="title">Desktop version</div>
            <div class="image center">
              <img src="{% static 'app/img/section1-dark.png' %}" alt="" class="dark">
              <img src="{% static 'app/img/section1-light.png' %}" alt="" class="light">
            </div>
          </div>
          <div class="promore-top__item">
            <div class="title">Mobile & tablet versions</div>
            <div class="image">
              <img src="{% static 'app/img/section2-dark.png' %}" alt="" class="dark">
              <img src="{% static 'app/img/section2-light.png' %}" alt="" class="light">
            </div>
          </div>
          <div class="promore-top__item">
            <div class="title">Promoted coin section is also visible at the bottom of every coin page</div>
            <div class="image">
              <img src="{% static 'app/img/section3-dark.png' %}" alt="" class="dark">
              <img src="{% static 'app/img/section3-light.png' %}" alt="" class="light">
            </div>
          </div>
        </div>


        <div class="promore-top__top promore-top__top2">
          <div class="title">
            <span>Display Banners</span>
            <p>Boost your marketing with striking animated banners:</p>
          </div>
          <a href="#" class="link">View pricing <svg class="arrow">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowRight"></use>
            </svg></a>
        </div>



        <div class="promore-top__item-block">
          <div class="promore-top__title">
            <div class="title">Big header banners</div>
            <div class="descr"><svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-image"></use>
              </svg> Size: 200x500. Format: GIF, JPG, PNG, SVG</div>
          </div>

          <div class="promore-top__grid">
            <div class="promore-top__item">
              <div class="title">Static big banner on top of the website</div>
              <div class="image top">
                <img src="{% static 'app/img/big1-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/big1-light.png' %}" alt="" class="light">
              </div>
            </div>
            <div class="promore-top__item">
              <div class="title">Including mobile & tablet</div>
              <div class="image">
                <img src="{% static 'app/img/big2-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/big2-light.png' %}" alt="" class="light">
              </div>
            </div>
            <div class="promore-top__item">
              <div class="title">Visible on top of every coin inner page</div>
              <div class="image">
                <img src="{% static 'app/img/big3-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/big3-light.png' %}" alt="" class="light">
              </div>
            </div>
          </div>

        </div>


        <div class="promore-top__item-block">
          <div class="promore-top__title">
            <div class="title">Rotating banner</div>
            <div class="descr"><svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-image"></use>
              </svg> Size: 200x500. Format: GIF, JPG, PNG, SVG</div>
          </div>

          <div class="promore-top__grid">
            <div class="promore-top__item">
              <div class="title">Static big banner on top of the website</div>
              <div class="image center">
                <img src="{% static 'app/img/rotating1-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/rotating1-light.png' %}" alt="" class="light">
              </div>
            </div>
            <div class="promore-top__item">
              <div class="title">Including mobile & tablet</div>
              <div class="image">
                <img src="{% static 'app/img/rotating2-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/rotating2-light.png' %}" alt="" class="light">
              </div>
            </div>
            <div class="promore-top__item">
              <div class="title">Visible on top of every coin inner page</div>
              <div class="image">
                <img src="{% static 'app/img/rotating3-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/rotating3-light.png' %}" alt="" class="light">
              </div>
            </div>
          </div>
        </div>

        <div class="promore-top__item-block">
          <div class="promore-top__title">
            <div class="title">Popup banner</div>
            <div class="descr"><svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-image"></use>
              </svg> Size: 200x500. Format: GIF, JPG, PNG, SVG</div>
          </div>

          <div class="promore-top__grid">
            <div class="promore-top__item">
              <div class="title">Left popup</div>
              <div class="image">
                <img src="{% static 'app/img/popup1-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/popup1-light.png' %}" alt="" class="light">
              </div>
            </div>
            <div class="promore-top__item">
              <div class="title">Right popup</div>
              <div class="image right">
                <img src="{% static 'app/img/popup2-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/popup2-light.png' %}" alt="" class="light">
              </div>
            </div>
            <div class="promore-top__item">
              <div class="title">Centered popup</div>
              <div class="image center centered">
                <img src="{% static 'app/img/popup3-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/popup3-light.png' %}" alt="" class="light">
              </div>
            </div>
            <div class="promore-top__item">
              <div class="title">All popups will be displayed on mobile & tablet</div>
              <div class="image">
                <img src="{% static 'app/img/popup4-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/popup4-light.png' %}" alt="" class="light">
              </div>
            </div>
            <div class="promore-top__item">
              <div class="title">Visible on every coin page</div>
              <div class="image">
                <img src="{% static 'app/img/popup5-dark.png' %}" alt="" class="dark">
                <img src="{% static 'app/img/popup5-light.png' %}" alt="" class="light">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="promote-mail">
      <div class="promote-mail__wrap container">
        <div class="promote-mail__wrap-container">
          <div class="promote-mail__left">
            <span class="h2">Email mass send</span>
            <p>Extend your reach across various crypto members. We have collected 30k+ email base of real and active
              crypto members.</p>
            <a href="#">Send request</a>
          </div>
          <div class="promote-mail__right">
            <div class="promote-mail__item">
              <span class="icon-wrap">
                <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
                </svg>
              </span>
              <div>
                <div class="num">51,150</div>
                <p>triggered</p>
              </div>
            </div>
            <div class="promote-mail__item">
              <span class="icon-wrap">
                <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-inbox"></use>
                </svg>
              </span>
              <div>
                <div class="num">44,553</div>
                <p>delivered</p>
              </div>
            </div>
            <div class="promote-mail__item">
              <span class="icon-wrap">
                <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-notification"></use>
                </svg>
              </span>
              <div>
                <div class="num">21,068</div>
                <p>opened</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="promote-other">
      <div class="promote-other__wrap container">
        <span class="h2">Other Services</span>
        <div class="promote-other__grid">
          <div class="promote-other__item">
            <div class="title">KYC/Doxxing</div>
            <p>Sometimes your community is seeking for additional trust. Coinmooner is 3rd party to help. Your project
              will get special KYC badge.</p>
            <div class="image">
              <img src="{% static 'app/img/other1-dark.png' %}" alt="" class="dark">
              <img src="{% static 'app/img/other1-light.png' %}" alt="" class="light">
            </div>
          </div>
          <div class="promote-other__item">
            <div class="title">Smart-contract Audit</div>
            <p>Get your smart contracts verified by our trusted partner - a team of analysts specialized in blockchain
              technology.</p>
            <div class="image">
              <img src="{% static 'app/img/other2-dark.png' %}" alt="" class="dark">
              <img src="{% static 'app/img/other2-light.png' %}" alt="" class="light">
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="promote-pricing">
      <div class="promote-pricing__wrap container">
        <div class="promote-pricing__left">
          <span class="h2">Pricing</span>
          <p>For more information or specific requirements, contact us at Telegram</p>
          <a href="#"><svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-telegram"></use>
            </svg> @CoinMoonerPromo</a>
        </div>
        <div class="promote-pricing__right">
          <div class="promote-pricing__row">
            <span class="promote-pricing__label">Service Type</span>
            <div class="promote-pricing__row-sub">
              <div class="promote-pricing__row-sub-row">
                <span class="promote-pricing__label">Duration</span>
                <span class="promote-pricing__label">Prices</span>
              </div>
            </div>
          </div>

          <div class="promote-pricing__row">
            <span class="promote-pricing__title">Promoted Coin Section</span>
            <div class="promote-pricing__row-sub">
              <div class="promote-pricing__row-sub-row">
                <div class="time">1 day</div>
                <div class="cost">0.5 BNB/day</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">5+ days</div>
                <div class="cost">0.3 BNB/day</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">10+ days</div>
                <div class="cost">0.2 BNB/day</div>
              </div>
            </div>
          </div>

          <div class="promote-pricing__row">
            <span class="promote-pricing__title">Big banner</span>
            <div class="promote-pricing__row-sub">
              <div class="promote-pricing__row-sub-row">
                <div class="time">1 day</div>
                <div class="cost">2 BNB</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">5 days</div>
                <div class="cost">1 BNB</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">7 days</div>
                <div class="cost">0.5 BNB</div>
              </div>
            </div>
          </div>

          <div class="promote-pricing__row">
            <span class="promote-pricing__title">Rotating banner</span>
            <div class="promote-pricing__row-sub">
              <div class="promote-pricing__row-sub-row">
                <div class="time">1 day</div>
                <div class="cost">2 BNB</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">5 days</div>
                <div class="cost">1 BNB</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">7 days</div>
                <div class="cost">0.5 BNB</div>
              </div>
            </div>
          </div>

          <div class="promote-pricing__row">
            <span class="promote-pricing__title">Popup Left</span>
            <div class="promote-pricing__row-sub">
              <div class="promote-pricing__row-sub-row">
                <div class="time">1 day</div>
                <div class="cost">2 BNB</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">5 days</div>
                <div class="cost">1 BNB</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">7 days</div>
                <div class="cost">0.5 BNB</div>
              </div>
            </div>
          </div>

          <div class="promote-pricing__row">
            <span class="promote-pricing__title">Popup Right</span>
            <div class="promote-pricing__row-sub">
              <div class="promote-pricing__row-sub-row">
                <div class="time">1 day</div>
                <div class="cost">2 BNB</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">5 days</div>
                <div class="cost">1 BNB</div>
              </div>
            </div>
          </div>

          <div class="promote-pricing__row">
            <span class="promote-pricing__title">Popup Center</span>
            <div class="promote-pricing__row-sub">
              <div class="promote-pricing__row-sub-row">
                <div class="time">1 day</div>
                <div class="cost">2 BNB</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">5 days</div>
                <div class="cost">1 BNB</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">7 days</div>
                <div class="cost">0.5 BNB</div>
              </div>
            </div>
          </div>

          <div class="promote-pricing__row">
            <span class="promote-pricing__title">Email Mass Send</span>
            <div class="promote-pricing__row-sub">
              <div class="promote-pricing__row-sub-row">
                <div class="time">20k emails sent</div>
                <div class="cost">2 BNB</div>
              </div>
              <div class="promote-pricing__row-sub-row">
                <div class="time">3x email blast sendys</div>
                <div class="cost">1 BNB</div>
              </div>
            </div>
          </div>

          <div class="promote-pricing__row">
            <span class="promote-pricing__title">KYC</span>
            <div class="promote-pricing__row-sub">
              <div class="promote-pricing__row-sub-row">
                <div class="time">1 person</div>
                <div class="cost">2 BNB</div>
              </div>
            </div>
          </div>

          <div class="promote-pricing__row">
            <span class="promote-pricing__title">Audit</span>
            <div class="promote-pricing__row-sub">
              <div class="promote-pricing__row-sub-row">
                <div class="time">1 smart contract</div>
                <div class="cost">2 BNB</div>
              </div>
            </div>
          </div>
        </div>

        <p class="hidden-text">For more information or specific requirements, contact us at Telegram</p>
        <a class="hidden-link" href="#"><svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-telegram"></use>
          </svg> @CoinMoonerPromo</a>
      </div>
    </section>

    <section class="promote-contacts">
      <div class="promote-contacts__wrap container">
        <span class="h2">Contact Us</span>
        <p>We value you as a customer and truly appreciate that you choose CoinMooner. In order to provide you the best
          assistance, please contact us trough any of the choices below. we are available 24 hours a day, 7 days a week.
        </p>

        <div class="promote-contacts__block">
          <div class="promote-contacts__item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-telegram"></use>
            </svg>
            <div class="title">Contact Telegram support</div>
            <p>For immediate online assistance visit our customer support in Telegram</p>
            <a href="#" class="teleg"><svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-telegram"></use>
              </svg> Enter Telegram Support</a>
          </div>
          <div class="promote-contacts__item">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use>
            </svg>
            <div class="title">Email assistance</div>
            <p>Please write to us if you prefer an email response</p>
            <a href="#" class="mail"><svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use>
              </svg> Send Us a Message</a>
          </div>
        </div>
      </div>
    </section>

  </section>


</main>


{% endblock %}
